body {
  padding-bottom: 208px;
  min-height: 100vh;
  position: relative;
  background-color: rgba(0, 0, 0, 0.025);
  color: rgba(0, 0, 0, 0.7); }

.page-title {
  margin-bottom: 3rem;
  margin-top: 1rem; }

.page-subtitle {
  color: rgba(0, 0, 0, 0.2);
  margin: 0;
  font-size: 1.8rem;
  font-weight: normal;
  margin-left: 1.5rem; }

.page-title-sm {
  margin-top: 2rem;
  margin-bottom: 1.5rem;
  color: rgba(0, 0, 0, 0.5); }

header .navbar,
header .navbar-inverse {
  border-radius: 0;
  border: 0;
  color: white;
  background-color: #00003a;
  padding: 1rem 0;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
  margin-bottom: 0; }
  header .navbar .navbar-header a.navbar-brand,
  header .navbar-inverse .navbar-header a.navbar-brand {
    font-size: 3rem;
    font-weight: 700;
    color: white; }
header a.navbar-brand:after {
  content: '';
  display: block;
  margin-top: 1.2rem;
  border-top: 2px solid;
  border-top-color: white;
  opacity: 0;
  transition: all .3s ease;
  width: 0; }
header a.navbar-brand:hover:after {
  opacity: 1;
  width: 100%; }

.sub-header {
  background-color: rgba(0, 0, 58, 0.87);
  color: white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
  padding: 3rem 0;
  letter-spacing: 1px; }
  .sub-header .page-subtitle {
    color: white;
    margin-left: 0;
    font-weight: lighter; }
  .sub-header p {
    width: 60%;
    font-weight: lighter;
    letter-spacing: 1px; }
    @media (max-width: 768px) {
      .sub-header p {
        width: 100%; } }

footer.footer--zoocha {
  margin-top: 3rem;
  background-color: rgba(0, 0, 58, 0.87);
  color: white;
  font-weight: normal;
  border-top: 1px solid rgba(0, 0, 0, 0.05);
  padding: 2rem 0;
  width: 100%;
  position: absolute;
  bottom: 0; }
  footer.footer--zoocha h3 {
    margin-top: 0; }
  footer.footer--zoocha p {
    margin-bottom: 0.2rem;
    font-size: 1.3rem; }

.journey-card {
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.05);
  padding: 0 2rem 1rem;
  background-color: white;
  margin-bottom: 3rem;
  transition: all 0.3s ease-in-out; }
  .journey-card:hover {
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.3); }
  .journey-card .card__letter {
    padding-top: 1rem;
    margin-top: 0; }
  .journey-card .card__title h3 {
    margin-top: 1rem; }
  .journey-card .card__content {
    padding-top: 1rem;
    margin-top: 2rem; }
    .journey-card .card__content .card__content__p {
      color: rgba(0, 0, 0, 0.4);
      font-weight: bold; }
    .journey-card .card__content table {
      margin-bottom: 0;
      padding-bottom: 0;
      color: rgba(0, 0, 0, 0.6); }
      .journey-card .card__content table td {
        padding-left: 0;
        border-top: 1px solid rgba(0, 0, 0, 0.05); }

.latest-updates-item {
  margin-bottom: 2rem; }
  .latest-updates-item .latest-updates-item__text {
    margin-bottom: 0; }
  .latest-updates-item .latest-updates-item__info {
    font-size: 1.6rem;
    margin-top: 0.5rem;
    color: rgba(0, 0, 0, 0.4);
    font-weight: normal; }
