// Base styles
body {
  padding-bottom: 208px;
  min-height: 100vh;
  position: relative;
  background-color: rgba(0, 0, 0, 0.025);
  color: rgba(0, 0, 0, 0.7);
}

.page-title {
  margin-bottom: 3rem;
  margin-top: 1rem;
}

.page-subtitle {
  color: rgba(0, 0, 0, 0.2);
  margin: 0;
  font-size: 1.8rem;
  font-weight: normal;
  margin-left: 1.5rem;
}

.page-title-sm {
  margin-top: 2rem;
  margin-bottom: 1.5rem;
  color: rgba(0, 0, 0, 0.5);
}

// Header
@import 'components/header';
// Sub header
@import 'components/sub-header';
// Footer
@import 'components/footer';
// Journey card
@import 'components/journey-card';
// Latest updates sidebar
@import 'components/latest-updates';
