@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,500,700);

// Variables
@import 'components/variables';
//core
@import 'components/base-vj';

body {
  padding-bottom: 267px;
  min-height: 100vh;
  position: relative;
}

// from Zoocha styles
@import '../zoocha-theme/components/top-bar';

// Header
@import 'components/header';
// Footer
@import 'components/footer';
//Components
@import 'components/page-1-images';
@import 'components/page-1-webform';
@import 'components/page-2-island-break';
@import 'components/page-2-offer';
//Pages
@import 'components/overrides';

a.navbar-brand {

  &:after {
    content: '';
    display: block;
    margin-top: 1.2rem;
    border-top: 2px solid;
    border-top-color: white;
    opacity: 0;
    transition: all .3s ease;
    width: 0;
  }

  &:hover {

    &:after {
      opacity: 1;
      width: 8%;
    }
  }
}
