<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width">
  <title>{{ title }}</title>
  {% block head %}
    {% include "prototype-head.nunjucks" %}
  {% endblock %}
  {% if ENV_DEVELOPMENT %}
    <script src="http://localhost:35729/livereload.js"></script>
  {% endif %}
</head>
<body>
  {% block topbar %}
    {% include "zoocha-template/top-bar.nunjucks" %}
  {% endblock %}
  
  {% block header %}
    {% include "autumn-campaign/includes/header.nunjucks" %}
  {% endblock %}

  {% block hero %}
    {% include "autumn-campaign/includes/hero.nunjucks" %}
  {% endblock %}

  <div class="container">
    <div class="col-xs-12 text-intro text-center">
      <img src="/images/leaf-vj.png">
      <p>...And breathe, relaxation is a state of mind - a moment of utter content.
      In Jersey, balance is restored, discover your own ways to relax with the island break.
      </p>
    </div>
  </div>

  {% block journey %}
    {% include "autumn-campaign/includes/page-2-island-break.nunjucks" %}
  {% endblock %}

  {% block offer %}
    {% include "autumn-campaign/includes/page-2-offer.nunjucks" %}
  {% endblock %}

  {% block dontmiss %}
    {% include "autumn-campaign/includes/page-2-dont-miss.nunjucks" %}
  {% endblock %}
  
</body>

  {% block footer %}
    {% include "autumn-campaign/includes/footer.nunjucks" %}
  {% endblock %}

</html>
