footer.footer--zoocha {
  margin-top: 3rem;
  background-color: rgba(0, 0, 58, 0.87);
  color: white;
  font-weight: normal;
  border-top: 1px solid rgba(0, 0, 0, 0.05);
  padding: 2rem 0;
  width: 100%;
  position: absolute;
  bottom: 0;

  h3 {
    margin-top: 0;
  }

  p {
    margin-bottom: 0.2rem;
    font-size: 1.3rem;
  }
}
