header {

  .navbar,
  .navbar-inverse {
    border-radius: 0;
    border: 0;
    color: white;
    background-color: #00003a;
    padding: 1rem 0;
    box-shadow: 0 2px 5px rgba(0,0,0,.26);
    margin-bottom: 0;

    .navbar-header a.navbar-brand {
      font-size: 3rem;
      font-weight: 700;
      color: white;
    }
  }

  a.navbar-brand {

    &:after {
      content: '';
      display: block;
      margin-top: 1.2rem;
      border-top: 2px solid;
      border-top-color: white;
      opacity: 0;
      transition: all .3s ease;
      width: 0;
    }

    &:hover {

      &:after {
        opacity: 1;
        width: 100%;
      }
    }
  }
}
