.journey-card {
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.05);
  padding: 0 2rem 1rem;
  background-color: white;
  margin-bottom: 3rem;
  transition: all 0.3s ease-in-out;

  &:hover {
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.3);
  }

  .card__letter {
    padding-top: 1rem;
    margin-top: 0;
  }

  .card__title h3 {
    margin-top: 1rem;
  }

  .card__content {
    padding-top: 1rem;
    margin-top: 2rem;

    .card__content__p {
      color: rgba(0, 0, 0, 0.4);
      font-weight: bold;
    }

    table {
      margin-bottom: 0;
      padding-bottom: 0;
      color: rgba(0, 0, 0, 0.6);

      td {
        padding-left: 0;
        border-top: 1px solid rgba(0, 0, 0, 0.05);
      }
    }
  }
}
