.latest-updates-item {
  margin-bottom: 2rem;

  .latest-updates-item__text {
    margin-bottom: 0;
  }

  .latest-updates-item__info {
    font-size: 1.6rem;
    margin-top: 0.5rem;
    color: rgba(0, 0, 0, 0.4);
    font-weight: normal;
  }
}
