.sub-header {
  background-color: rgba(0, 0, 58, 0.87);
  color: white;
  box-shadow: 0 2px 5px rgba(0,0,0,.26);
  padding: 3rem 0;
  letter-spacing: 1px;

  .page-subtitle {
    color: white;
    margin-left: 0;
    font-weight: lighter;
  }

  p {
    width: 60%;
    font-weight: lighter;
    letter-spacing: 1px;

    @media(max-width: 768px) {
      width: 100%;
    }
  }
}
