// GENERAL

.header {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 999;

  .region-navigation {
    text-align: right;
  }

  .language-selector-container,
  #block-block-9,
  #block-block-7 {
    display: inline-block;
  }
}


// LANGUAGE SELECTOR

.language-selector-container {
  margin-right: -5px;
}

.language-selector .fa {
  margin-left: 12px;
}

.language-switcher-locale-url {
  display: none;

  border: 0;
  border-radius: 0;
  margin-top: 0;
  min-width: 167px;
  padding: 0;

  li a,
  &.dropdown-menu>.active>a,
  &.dropdown-menu>.active>a:hover,
  &.dropdown-menu>.active>a:focus {
    color: $gray-dark;
    padding: 15px 20px;
  }
}

.dropdown-language.open {
  .language-switcher-locale-url {
    display: block;
  }

  .language-selector {
    background-color: rgba(0, 0, 0, 0.6);
  }
}




// TOP NAV

.top-nav {
  text-align: right;
}

// .language-selector-container,
// .language-selector,
// .dropdown-follow-us,
// .favourites,
// .favourites .fa,
// .favourites p,
// .sign-in,
// .follow-us {
//  display: inline-block;
// }

.language-selector,
.favourites,
.sign-in,
.follow-us {
  padding: 15px 29px;
  vertical-align: middle;
}

.favourites .fa,
.favourites p {
  color: $white;

  vertical-align: middle;
}

.favourites .fa {
  font-size: $font-size-large;
}

.favourites p {
  margin-bottom: 0;
  margin-left: 5px;
}

.sign-in {
  background-color: rgba(0, 0, 0, 0.1);

  img {
    height: 18px;
    margin-right: 10px;
  }
}

.language-selector,
.sign-in,
.follow-us {
  color: $white;
  font-size: 1.4rem;
  text-transform: none;
}

.language-selector,
.follow-us {
  background-color: rgba(0, 0, 0, 0.2);
  border: none;
  border-radius: 0;

  img {
    height: 18px;
    margin-right: 10px;
  }
}

.language-selector {
  background-color: rgba(0, 0, 0, 0.1);
}

.dropdown-follow-us .dropdown-menu {
  border: none;
  border-radius: 0;
  left: auto;
  margin-top: 0;
  min-width: 146px;
  padding: 0;
  right: 0;
  text-align: center;

  .fa {
    font-size: 3rem;
  }

  >li>a {
    color: $white;
    padding: 10px 32px;
  }

  >li:first-child>a {
    background-color: $twitter;
  }

  >li:nth-child(2)>a {
    background-color: $youtube;
  }

  >li:nth-child(3)>a {
    background-color: $facebook;
  }

  >li:nth-child(4)>a {
    background-color: $pinterest;
  }

  >li:nth-child(5)>a {
    background-color: $instagram;
  }
}



// MAIN NAV


.main-nav {
  margin-top: 1%;
  margin-bottom: 1%;

  .vj-logo {
    margin-left: 30px;
  }

  .vj-logo img {
    width: 193px;
    // margin: 0 auto;
  }
}

.main-menu {

  .well {
    background-color: transparent;
    border: none;
    border-radius: 0;
    box-shadow: none;
    margin-bottom: 0;
    padding: 0;
  }
}

.navbar-nav {
  float: none;
  padding: 0;
  text-align: right;

  >li {
    display: inline-block;
    float: none;
    list-style: none;
    vertical-align: middle;

    a {
      color: $white;
      display: block;
      font-size: $font-size-base;
      text-transform: uppercase;
      padding: 20px;
      text-align: center;
    }

    >.active,
    >a:hover,
    >.active-trail {
      font-style: italic;
      font-weight: 700;
    }
    >a::after {
      display:block;
      content:attr(title);
      font-weight:bold;
      height:1px;
      color:transparent;
      overflow:hidden;
      visibility:hidden;
    }

  }

  >li:last-of-type {
    margin-right: 15px;
  }

  }

.nav>li>a:hover,
.nav>li>a:focus {
  background-color: transparent;
}


.navbar-nav .dropdown .caret {
  display: none;
}

.nav .open>a, .nav .open>a:hover, .nav .open>a:focus {
  background-color: rgba(0,0,0,0.2);
  border-radius: 0;

}

.navbar-nav>li>.dropdown-menu {
  border: none;
  border-radius: 0;
  box-shadow: none;
  left: auto;
  margin: 0;
  min-width: 260px;
  padding: 10px 30px;
  right: 0.8%;
  top: 91%;
  text-align: left;

  >li>a {
    color: $gray-dark;
    padding: 11px 0;
    text-align: left;
  }

  >.active>a  {
    background-color: transparent;
    color: $gray-dark;
    font-family: $font-family-second;
  }

  >li>a:hover,
  >li>a:focus {
    background-color: transparent;
    font-family: $font-family-second;
    font-style: normal;
  }
}


.search-icon {
  height: 22px;
  margin-top: 2px;
  width: auto;
}




// HEADER CHANGES ON SCROLL

@media (min-width: $screen-sm-min) {
  .page-user .header,
  .page-maps .header,
  .fixed-header {
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
    z-index: 999;

    .favourites,
    .sign-in,
    .follow-us,
    .language-selector {
      background-color: transparent;
    }

    .main-nav {
      margin-top: 0;
    }

    .vj-logo {
      margin-top: -1%;
    }
  }
}

.page-maps .header {
  background-color: #2e2e2e;
}
.mobile-menu-icon .icon-bar {
  background-color: $white;
}

// MOBILE

@media (max-width: $screen-md-max) {
  .dropdown-follow-us .dropdown-menu {
    min-width: 134px;
  }
}

@media (max-width: $screen-xs-max) {

  .main-nav .vj-logo {
    float: none !important;
    margin: 0;
  }

  .main-nav .vj-logo img {
    //width: 17%;
    margin-left: 0;
    margin-top: 4px;
  }

  .main-nav .main-menu>ul {
    text-align: center;
  }

  .navbar-nav {
    background-color: $white;
    padding: 2%;

    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,0.175);
    -moz-box-shadow: 0 6px 12px rgba(0,0,0,0.175);
    box-shadow: 0 6px 12px rgba(0,0,0,0.175);
  }

  .navbar-nav>li {
    display: block;
  }

  /*.navbar-nav>li:nth-of-type(5) {
    border-bottom: 1px solid $gray;
  }*/

  .navbar-nav>li a {
    color: $gray-darker;
    text-align: left;
  }

  // Uncomment when search icon enabled again
  // .navbar-nav li:nth-of-type(6),
  // .navbar-nav li:nth-of-type(7)>a {
  //  display: none;
  // }

  // .navbar-nav li:nth-of-type(7)>.dropdown-menu {
  //  display: block !important;
  //  position: static;
  // }

  // hide when search icon enabled again

  .main-site-menu-travel {
    border-top: 1px solid $gray;
  }

  .main-site-menu-travel>a {
    display: none !important;
  }

  .main-site-menu-travel>.dropdown-menu {
    display: block !important;
    position: static;
  }

  .navbar-nav>li>.dropdown-menu {
    padding-left: 18px;
  }


  .navbar-toggle {
    margin: 0;
    padding: 0;
  }

  // MAP PAGE

  .sidebar--places-list,
  .sidebar.sidebar--results,
  #map_wrapper {
    top: 119px;
  }


  // HEADER AS PER NEW DESIGNS

  .main-nav{
    margin-top: 20px;
  }

  .language-btn-content,
  .follow-us span {
    display: none;
  }

  .language-selector img,
  .follow-us img {
    margin: 0;
  }

  .language-selector,
  .follow-us,
  .dropdown-language.open .language-selector {
    background-color: transparent;
    padding: 12px 0;
    padding-left: 25px;
  }

  .mobile-menu-icon {
    margin-top: 10px;
    width: 24px;
  }

  .mobile-search-icon img {
    height: 21px;
  }

  .dropdown-follow-us .dropdown-menu {
    right: -75%;
  }

}

.navbar-collapse {
  border-top: none;
  box-shadow: none;
}




@media (max-width: $screen-xs-max) {
  .header-section {
    float: left;
  }
  .header-section--logo {
    width: 40%;
  }
  .header-section--search-icon {
    margin: 0 5px;
    a {
      display: block;
      padding: 1.3rem 2rem;
    }
  }
  .header-section-aux-wrapper {
    float: right;
    padding-right: 15px;
  }
}