// VJ Prototype - page 1

.text-intro {
	padding: 4.2rem 10rem;
	font-size: $font-size-base;
	
	img {
		margin-bottom: 2rem;
	}
}
.tell-us-more {
	padding: 3.5rem;

	h3 {
		margin: 0;
		margin-bottom: 1rem;
	}

	.tell-us-more-button {
	    margin-top: 1%;
	    text-align: right;
	}
}

.header-prototype {
	top: 27px;
}

body {
	padding-bottom: 402px;
}