//Block images preferences - Prototype VJ page 1

.images-preferences {
	font-size: $font-size-base;
	
	.block-1,
	.block-2 {
		height: 250px;
	}

	.block-1 {
		background-color: #b64b87;
		color: $white;
		padding: 5rem;
		display: flex;
		flex-direction: column;
		justify-content: center;

		h3 {
			font-size: $font-size-large;
			color: $white;
			font-weight: 700;
		}
	}
}

.block-2 {
	border-top: 1px solid #bcbcbc;
	padding: 2rem 0;

	h3 {
		color: #b64b87;
		font-size: $font-size-large;
		font-weight: 700;
	}

	.block-2_1,
	.block-2_2 {
		border-right: 1px solid #bcbcbc;
	}

	.block-2_1,
	.block-2_2,
	.block-2_3 {
		height: 220px;
	    padding: 4rem 6rem;
		span {
			color: #b64b87;
			padding: 1rem 2rem;
			font-size: 30px;
			margin-top: 3rem;
			font-weight: 100;
			border: 1px solid #b64b87;
			border-radius: 50%;
		}
	}
}

// Images carousel

.flexslider.carousel-1,
.flexslider.carousel-2,
.flexslider.carousel-3 {
	margin: 0;
	border: 0;
	padding: 0;

	ol {
		display: none;
	}
}

.flexslider.carousel-2,
.flexslider.carousel-3 {
	display: none;
}


.flex-direction-nav {
	list-style: none;
	.flex-nav-prev,
	.flex-nav-next {
		text-indent: -9999px;
		border-radius: 50px;;
	    top: 20%;
	    right: -1rem;
	    color: white;
	    height: 50px;
	    width: 50px;
	    background-color: rgba(182, 75, 135, 0.70);
	}
	.flex-nav-prev {
		position: absolute;
		left: 2%;
		top: 45%;
	}
	.flex-nav-next {
		position: absolute;
		right: 2%;
		top: 45%;
	}
}



