// Block autumn journey offer - Prototype VJ page 2

.vj-filters {
	padding-top: 4rem;
}
.offer-results {
	margin-bottom: 5rem;
}
.arrow-icon {
    background: url(/images/arrow-icon.png) 50% 50% no-repeat;
    background-size: 1.3rem;
    padding: 10px;
    vertical-align: super;
    font: 0/0 a;
    color: transparent;
    text-shadow: none;
    background-color: transparent;
    border: 0;
}

.filters-list .btn--filter[data-filter="vefl-region-title"] {
    background: url(/images/search-icon.png) 50% 50% no-repeat;
    color: transparent;
}
.filters-list .btn--filter {
    background-color: transparent;
    border: 0.1rem solid rgba(100, 100, 100, 0.2);
    border-radius: 0;
    color: #ffffff;
    display: block;
    font-size: 17px;
    padding: 1.5rem 2rem;
    position: relative;
    transition: 0.1s all;
    width: 100%;
    text-transform: none;
}
@media (min-width: 768px) {
    .filters-list .filter__item {
        float: left;
        padding: 0 1rem;
        min-width: 13%;
    }
}