// Webform prototype VJ - page 1

.webform-page {
  padding: 10rem 0;

  label {
    margin: 0;
    display: block;
    font-size: $font-size-base;
  }

  .input-text {
    width: 80%;
    height: 65px;
    padding: 1rem;
  }

  .webform-checkbox {
    margin-top: 3rem;
    font-size: $font-size-base;
    .input-checkbox {
      margin-right: 2rem;
    }
  }
  .webform-submit {
    margin-top: 3rem;
    background-color: #87949b;
    border-color: #87949b;
    text-transform: uppercase;
    font-size: 16px;
    padding: 1.5rem 3.5rem;
    font-family: $font-family-base;
    font-weight: 700;
    border-radius: 0;
    border: none;
    color: $white;
  }
} 