// Block autumn island journey - Prototype VJ page 2

.text-journey {
  background-color: $rich-plum;
  color: white;
  padding-top: 5rem;
  padding-bottom: 5rem;
  font-size: $font-size-base;

  h3 {
    color: white;
  }
  p {
    font-size: 2rem;
    padding-top: 1rem;
  }
} 

.block-journey {
  min-height: calc(33.3vw);
  font-size: $font-size-base;
  background-image: linear-gradient(0deg,rgba(51, 51, 51, 0.4),rgba(51, 51, 51, 0.40)),url("/images/journey-vj.jpg");
  background-size: cover;
  background-position: center;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 8%;
 
  h4 {
    color: white;
  }
}