/**
 * @license
 * MyFonts Webfont Build ID 3226138, 2016-05-31T06:48:00-0400
 *
 * The fonts listed in this notice are subject to the End User License
 * Agreement(s) entered into by the website owner. All other parties are
 * explicitly restricted from using the Licensed Webfonts(s).
 *
 * You may obtain a valid license at the URLs below.
 *
 * Webfont: ProximaNova-Bold by Mark Simonson
 * URL: http://www.myfonts.com/fonts/marksimonson/proxima-nova/bold/
 *
 * Webfont: ProximaNova-Light by Mark Simonson
 * URL: http://www.myfonts.com/fonts/marksimonson/proxima-nova/light/
 *
 * Webfont: ProximaNova-Regular by Mark Simonson
 * URL: http://www.myfonts.com/fonts/marksimonson/proxima-nova/regular/
 *
 *
 * License: http://www.myfonts.com/viewlicense?type=web&buildid=3226138
 * Licensed pageviews: 1,000,000
 * Webfonts copyright: Copyright (c) Mark Simonson, 2005. All rights reserved.
 *
 * © 2016 MyFonts Inc
*/


/* @import must be at top of file, otherwise CSS will not work */
@import url("//hello.myfonts.net/count/313a1a");


@font-face {font-family: 'ProximaNova-Bold';src: url('webfonts/313A1A_0_0.eot');src: url('webfonts/313A1A_0_0.eot?#iefix') format('embedded-opentype'),url('webfonts/313A1A_0_0.woff2') format('woff2'),url('webfonts/313A1A_0_0.woff') format('woff'),url('webfonts/313A1A_0_0.ttf') format('truetype');}


@font-face {font-family: 'ProximaNova-Light';src: url('webfonts/313A1A_1_0.eot');src: url('webfonts/313A1A_1_0.eot?#iefix') format('embedded-opentype'),url('webfonts/313A1A_1_0.woff2') format('woff2'),url('webfonts/313A1A_1_0.woff') format('woff'),url('webfonts/313A1A_1_0.ttf') format('truetype');}


@font-face {font-family: 'ProximaNova-Regular';src: url('webfonts/313A1A_2_0.eot');src: url('webfonts/313A1A_2_0.eot?#iefix') format('embedded-opentype'),url('webfonts/313A1A_2_0.woff2') format('woff2'),url('webfonts/313A1A_2_0.woff') format('woff'),url('webfonts/313A1A_2_0.ttf') format('truetype');}

